.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.form-control-plaintext {
    padding-left:5px;
}
.espacio_boton {
    margin-left: 10px;
}
